/*-------------------
    -----News Styles-----
    ---------------------*/
.timeline-milestone {
  position: relative;
  margin-bottom: 100px;
  z-index: 1;
}

.timeline-milestone:before {
  display: block;
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 1px;
  top: 0;
  border-right: 1px solid #8b25e5;
  z-index: -1;
}

.timeline-milestone:after {
  display: block;
  content: "";
  position: absolute;
  width: 50%;
  height: 100px;
  left: 1px;
  bottom: -105px;
  border-right: 1px dashed #8b25e5;
  z-index: -1;
}

.timeline-milestone .date-title {
  text-align: center;
  margin: 70px 0 50px;
}

.timeline-milestone .date-title span {
  padding: 15px 30px;
  font-size: 21px;
  font-weight: 400;
  color: #fff;
  background: #8b25e5;
  border-radius: 5px;
}

.news-item {
  padding-bottom: 45px;
}

.news-item.right {
  float: right;
  margin-top: 40px;
}

.news-item .news-content {
  margin: 20px 30px 0 0;
  position: relative;
  padding: 30px;
  padding-left: 100px;
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: -5px 5px 0 rgba(0, 0, 0, 0.08);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.news-item:hover .news-content {
  background: rgba(231, 160, 25, 0.5);
  color: #fff;
}

.news-item.right .news-content {
  margin: 20px 0 0 30px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.08);
}

.news-item .news-content:after {
  display: block;
  content: "";
  position: absolute;
  top: 50px;
  right: -40px;
  width: 0px;
  height: 0px;
  background: transparent;
  border: 20px solid transparent;
  border-left: 20px solid #f5f5f5;
  -webkit-transition: border-left-color 0.3s ease-out;
  transition: border-left-color 0.3s ease-out;
}

.news-item.right .news-content:after {
  position: absolute;
  left: -40px;
  right: auto;
  border-left: 20px solid transparent;
  border-right: 20px solid #f5f5f5;
  -webkit-transition: border-right-color 0.3s ease-out;
  transition: border-right-color 0.3s ease-out;
}

.news-item:hover .news-content:after {
  border-left-color: rgba(231, 160, 25, 0.5);
}

.news-item.right:hover .news-content:after {
  border-left-color: transparent;
  border-right-color: rgba(231, 160, 25, 0.5);
}

.news-item .news-content:before {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -55px;
  top: 60px;
  background: #e7a019;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.news-item.right .news-content:before {
  left: -55px;
  right: auto;
}

.news-content .date {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 10px;
  text-align: center;
  color: #8b25e5;
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.news-item:hover .news-content .date {
  color: #fff;
}

.news-content .date p {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
}

.news-content .date small {
  margin: 0;
  font-size: 26px;
  font-weight: 300;
  line-height: 24px;
}

.news-content .news-title {
  font-size: 24px;
  font-weight: 300;
}

.news-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

.news-content .read-more,
.news-content .read-more:hover,
.news-content .read-more:active,
.news-content .read-more:focus {
  padding: 10px 0;
  text-decoration: none;
  font-size: 16px;
  color: #7a7c7f;
  line-height: 24px;
}

.news-item:hover .news-content .read-more,
.news-item:hover .news-content .read-more:hover,
.news-item:hover .news-content .read-more:active,
.news-item:hover .news-content .read-more:focus {
  color: #fff;
}

.news-content .read-more {
  -webkit-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out;
}

.news-content .read-more:hover {
  padding-left: 7px;
}

.news-content .read-more:after {
  content: "\f054";
  padding-left: 15px;
  font-family: "FontAwesome";
  font-size: 21px;
  line-height: 21px;
  color: #e7a019;
  vertical-align: middle;
  -webkit-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out;
}

.news-content .read-more:hover:after {
  padding-left: 20px;
}

.news-item:hover .news-content .read-more:after {
  color: #fff;
}

.news-content .news-media {
  position: absolute;
  width: 80px;
  bottom: -45px;
  right: 40px;
  border-radius: 8px;
}

.news-content .news-media img {
  border-radius: 8px;
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.news-content .news-media a {
  display: block;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.news-content .news-media a:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.news-content .news-media a:after {
  content: "\f065";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  font-family: FontAwesome;
  font-size: 32px;
  line-height: 80px;
  text-align: center;
  color: #e7a019;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0.1s;
  transition: all 0.2s ease-out 0.1s;
}

.news-content .news-media.video a:after {
  content: "\f04b";
}

.news-content .news-media a:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.news-content .news-media.gallery {
  box-shadow: 4px 4px 0 #bbb, 8px 8px 0 #ddd;
}

/* research_objectives */

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #e7a019;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}

.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #8b25e5;
  z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}

.timeline hr {
  border-top: 3px solid #8b25e5;
  margin: 0;
  top: 17px;
  position: relative;
}

.timeline .col-2 {
  display: flex;
  overflow: hidden;
}

.timeline .corner {
  border: 3px solid #8b25e5;
  width: 100%;
  position: relative;
  border-radius: 15px;
}

.timeline .top-right {
  left: 48.5%;
  top: -50%;
}

.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}

.timeline .top-left {
  left: -50%;
  top: -50%;
}

.timeline .right-bottom {
  left: 48.5%;
  top: calc(50% - 3px);
}

@media (max-width: 767px) {
  .timeline .right-bottom {
    left: 46%;
    top: calc(50% - 3px);
  }

  .timeline .top-right {
    left: 46%;
    top: -50%;
  }
}

/* research_gap */
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 36px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #ed9455;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

@media (max-width: 767px) {
  .card {
    width: 250px;
  }
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #fffbda;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #faeee0;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 48px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  color: white;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

/* technologies_used */

.circular-card {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  -moz-box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 50%;
  /* Make the card circular */
  width: 170px;
  /* Adjust the width as needed */
  height: 170px;
  /* Adjust the height as needed */
  background-color: white;
  /* Optional background color */
  display: flex;
  flex-direction: column;
  /* Arrange content vertically */
  align-items: center;
  /* Center content horizontally */
  justify-content: center;
  /* Center content vertically */
  /* Optional margin around the card */
}

.circular-card .circular-card-img {
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
}

.circular-card .circular-card-img::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  border-radius: 50%;
  z-index: -1;
}

.circular-card:hover {
  -webkit-box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
  -moz-box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
  box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
}

.circular-card .circular-card-img:hover {
  transform: scale(1.2);
}

.card-text p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.cc {
  background-color: #e7a019;
}

.technology-item {
  display: flex;
  flex-wrap: wrap;
}

.box-part {
  padding: 2.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  .box-part {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 6%;
    padding-right: 6%;
  }
}

.box-part .cicular-component {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  -moz-box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  box-shadow: 0px 0px 10px 0px rgba(154, 154, 154, 0.16);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-part .cicular-component .circular-card-img {
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
}

.box-part .cicular-component:hover {
  -webkit-box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
  -moz-box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
  box-shadow: 0px 15px 17px 0px rgba(154, 154, 154, 0.16);
}

.box-part .cicular-component:hover .circular-card-img {
  transform: scale(1.2);
}

/* Presentation */
.doc-container-presentation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Document */
.doc-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.doc-card {
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: 20em;
  max-width: 80%;
  padding: 2em 0;
  background: #fff;
  box-shadow: 0 0 6px 0 rgba(32, 32, 36, 0.12);
  transition: all 0.35s ease;
}

@media (max-width: 767px) {
  .doc-card {
    width: 20em;
    max-width: 100%;
  }
}

.doc-card::before,
.doc-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: orange;
  height: 4px;
}

.doc-card::before {
  width: 0;
  opacity: 0;
  transition: opacity 0 ease, width 0 ease;
  transition-delay: 0.5s;
}

.doc-card::after {
  width: 100%;
  background: white;
  transition: width 0.5s ease;
}

.doc-card .doc-content {
  width: 18em;
  max-width: 80%;
}

.doc-card .logo {
  margin: 0 0 1em;
  width: 10.625em;
  transition: all 0.35s ease;
}

.doc-card .h6 {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 2px;
}

.doc-card .hover_content {
  overflow: hidden;
  max-height: 0;
  transform: translateY(1em);
  transition: all 0.55s ease;
}

.doc-card .hover_content p {
  margin: 1.5em 0 0;
  color: #6e6e70;
  line-height: 1.4em;
}

.doc-card:hover {
  width: 22em;
  box-shadow: 0 10px 20px 0 rgba(32, 32, 36, 0.12);
}

.doc-card:hover::before {
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease, width 0.5s ease;
  transition-delay: 0;
}

.doc-card:hover::after {
  width: 0;
  opacity: 0;
  transition: width 0 ease;
}

.doc-card:hover .logo {
  margin-bottom: 0.5em;
}

.doc-card:hover .hover_content {
  max-height: 10em;
  transform: none;
}

.doc-card:hover .doc-icon {
  transform: scale(1.5);
  margin-right: 10px;
  margin-bottom: 5px;
}

/* Team Section */

* {
  font-family: "Poppins";
}

.responsive-cell-block {
  min-height: 75px;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.team-head-text {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.team-head-text {
  line-height: 50px;
  width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.container-team {
  max-width: 1380px;
  margin-top: 30px;
  margin-bottom: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.card-team {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  border-radius: 10px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-container {
  width: 280px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 700;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.feature-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  width: 70px;
  display: flex;
  justify-content: space-between;
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}

.card-team:hover {
  transform: translate(0px, -16px);
}

@media (max-width: 500px) {
  .card-container {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap");

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 23.1%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}

.parallax-bg {
  background-image: url("../images/lottie/parallax.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .parallax-bg {
    min-height: 250px;
    background-position: center;
    background-size: contain;
  }
}

.form-control {
  border: none;
  background: #f3f3f3;
}

.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3;
}

.col-form-label {
  color: #000;
}

.btn,
.form-control,
.custom-select {
  height: 50px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 4px !important;
}

.btn.btn-primary {
  background: #000;
  color: #fff;
  padding: 15px 20px;
}

.btn:hover {
  color: #fff;
}

.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* HOME */

canvas {
  height: 100vh;
  background-image: url("../images/lottie/header_image.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#whiteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
}

@media (max-width: 767px) {
  canvas {
    height: 70vh;
    background-image: url("../images/lottie/header_image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 767px) {
  #whiteOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.new-header {
  position: absolute;
  top: 30%;
  text-align: start;
}

@media (max-width: 767px) {
  .new-header {
    top: 1%;
    padding: 5%;
    margin-bottom: 10%;
  }
}

.contact-email {
  color: #e7a019;
}

@media (max-width: 767px) {
  .contact-ui {
    padding-left: 8%;
    padding-right: 8%;
  }
}

/* Show More Button */
.show-button {
  --color: #e7a019;
  font-family: inherit;
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  line-height: 2.5em;
  margin: 20px;
  background-color: rgba(189, 154, 75, 0.1);
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.show-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 100px;
  width: 300px;
  border-radius: 50%;
}

.show-button:hover {
  color: #fff;
}

.show-button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.show-button:hover:before {
  top: -30px;
  left: -30px;
}

.show-button:active:before {
  background: rgba(231, 160, 25, 0.5);
  transition: 0s;
}

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learn-more {
  width: 12rem;
  height: auto;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #e7a019;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #e7a019;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.btn:hover .circle {
  width: 100%;
}

.btn:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.btn:hover .button-text {
  color: #fff;
}

/* container */
.responsive-two-column-grid {
  display: block;
}

/* columns */
.responsive-two-column-grid>* {
  padding: 1rem;
}

.custom-padding>* {
  padding: 0.3rem;
}

/* tablet breakpoint */
@media (min-width: 768px) {
  .responsive-two-column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.p-text {
  color: black;
  text-align: justify;
}

.p-text-bold {
  color: black;
  text-align: justify;
  font-weight: 500;
}

.linkedin-icon {
  width: 18px;
}

.gmail-icon {
  width: 25px;
}

.doc-icon {
  width: 20px;
  margin-right: 5px;
}

.text-small {
  font-size: small;
}

.ref-links:hover .text-small {
  color: #e7a019;
}